@font-face {
    font-family: NEWACADEMY;
	font-family: Stellar-light;
    src:url(Assets/Fonts/NEWACADEMY.ttf);
	src:url(Assets/Fonts/Stellar-light.otf);
}
@font-face {
   font-family: NEWACADEMY;
   src:url(Assets/Fonts/NEWACADEMY.ttf);  
}

.background{
	background-color:#282828;
}

.center{
	margin-left:auto;
	margin-right:auto;
}
.image{
	width:150px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
}
.grid{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.grid1{
	display:grid;
	grid-template-columns:1fr;
		overflow:hidden;
}

ul.navbar{
	z-index:99;
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color: rgba(0, 100, 188, 50);
	background-size:cover;
	position:fixed;
	top:0;
	width:100%;
	font-family: NEWACADEMY;
}

.list{
	float:left;
	font-family: NEWACADEMY;
}

.list a.block{
	display:block;
	text-align:center;
	text-decoration:none;
	padding: 14px 24px;
	color:white;
	transition:0.3s;
	font-family: NEWACADEMY;
}

.list a:hover{
	background-color:#111;
}

.logo{
	width:600px;
	height:auto;
	padding-top:35px
}
.quote{
	font-family:NEWACADEMY;
	font-size:2em;
	text-align:center;
	color:white;
	padding-top:70px;
}

.parallax{
	position:relative;
	height:800px;
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	background-image:url("Assets/Photos/magellan2.jpg");
}

.parallax2{
	position:relative;
	height:1400px;
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	background-image:url("Assets/Photos/form_wallpaper.jpg");
}

.form_box{
	background-color:#383838;
	margin-left:auto;
	margin-right:auto;
	height:1200px;
	width:850px;
	font-family:Stellar-light;
	color:white;
	opacity:.9;
	text-align:justify;
	font-size:1.5em;
	padding:30px 25px;
	margin-bottom:60px;;
}
.textbox{
	background-color:#383838;
	margin-left:auto;
	margin-right:auto;
	height:6em;
	width:800px;
	font-family:Stellar-light;
	color:white;
	opacity:.9;
	text-align:justify;
	font-size:1.5em;
	padding:30px 25px;
	margin-bottom:60px;;
}

.header{
	font-family:Stellar-light;
	color:white;
	opacity:.9;
	text-align:justify;
}

.table_title{
	z-index:99;
	font-family: NEWACADEMY;
	font-size:18px;
	color:#A4A400;
	background-color:#F0F0F0;
	border:2px solid #FFFFFF;
	column-span:5;
	margin:0;
	text-align:center;
 }
 
 .table_size{
	 width:auto;
	 border:2px solid #FFFFFF;
	 padding:5px;		
	border-collapse:collapse;
	 opacity:0.9;
	 margin-left:auto;
	 margin-right:auto;
		
 }
 
 .row1{
	 background-color:rgba(0, 100, 188, 50);
	 font-family: NEWACADEMY;
	 text-align:center;
	color:#FFFFFF;
	border:2px solid #FFFFFF;
	 padding:5px;
	 opacity:0.9;
 }
 .row_other{
	 background-color:#f4d942;
	 font-family: NEWACADEMY;
	 text-align:center;
	width:auto;
	color:#FFFFFF;
	border:2px solid #FFFFFF;
	 padding:5px;
	 opacity:0.9;
	 color:black;
	 transition:0.5s;
 }
 
  .row_other2{
	 background-color:#f4d942;
	 font-family: NEWACADEMY;
	 text-align:center;
	width:auto;
	color:#FFFFFF;
	border:2px solid #FFFFFF;
	 padding:5px;
	 opacity:0.9;
	 color:black;
	 transition:0.5s;
 }
 
 .grid2{
	display:grid;
	grid-template-columns: 1fr;
	overflow:hidden;
	margin:50px;
}

.button{
    background-color: rgba(0, 100, 188, 50);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
	font-family:NEWACADEMY;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 2% 2px;
    cursor: pointer;
	transition:0.5s;
}

.button2{
    background-color: rgba(0, 100, 188, 50);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
	font-family:NEWACADEMY;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 2% 2px;
    cursor: pointer;
	transition:0.5s;
}

.button2:hover{
	background-color: #f4d942;
	color:black;	
}

.row_other2:hover{
	background-color: green;
	color:white;	
	text-decoration: none;
}


a.nounderline {
	text-decoration: none;
 }
 
 .text{
	 font-family:Stellar-light;
 }
 
 .quote{
	font-family:NEWACADEMY;
	font-size:2em;
	text-align:center;
	color:white;
	padding-top:70px;
}